Source: ros-turbulent-qt-dotgraph
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), python3-pygraphviz, ros-turbulent-ament-cmake, ros-turbulent-ament-cmake-pytest, ros-turbulent-ament-lint-auto, ros-turbulent-ament-lint-common, ros-turbulent-ros-workspace
Homepage: http://ros.org/wiki/qt_dotgraph
Standards-Version: 3.9.2

Package: ros-turbulent-qt-dotgraph
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python3-pydot, ros-turbulent-python-qt-binding (>= 0.3.0), ros-turbulent-ros-workspace
Description: qt_dotgraph provides helpers to work with dot graphs.
